<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Title -->
  <title>{% if page.home %}{{ site.title }}{% elsif page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% endif %}">

  <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/{% if page.style %}{{ page.style }}{% else %}bronycon{% endif %}.css?cb=2g">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={% if page.google-fonts %}{{ page.google-fonts }}{% else %}{{ site.google-fonts }}{% endif %}&subset={% if page.google-fonts-subsets %}{{ page.google-fonts-subsets }}{% else %}{{ site.google-fonts-subsets }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="twitter:site" content="@{{ site.twitter }}"/>

  <meta property="og:image" content="{{ page.thumbnail }}">
  <meta name="twitter:image:src" content="{{ page.thumbnail }}">

</head>
