// Core Colors

$bc-cyan:     #6ED2FA;
$bc-magenta:  #96288C;
$bc-violet:   #5A3791;
$bc-blue:     #192855;
$bc-orange:   #F68B28;

// Supplementary Colors

$bc-azure:    #3C87C8;
$bc-yellow:   #FFEB5F;
$bc-green:    #87C88C;
$bc-cerulean: #37559B;
$bc-gold:     #FFC30F;
$bc-purple:   #9B4B96;
$bc-pink:     #D291BE;
$bc-rust:     #F0641E;

// Typography

$bc-title-font-family:     'Museo Slab';
$bc-title-font-weight:     900;
$bc-heading-font-family:   'Museo Slab';
$bc-heading-font-weight:   700;
$bc-body-font-family:      'Proxima Nova';
$bc-body-font-weight:      normal;
$bc-emphasis-font-family:  'Proxima Nova';
$bc-emphasis-font-weight:  bold;
$bc-monospace-font-family: 'Fantasque Sans';
$bc-monospace-font-weight: normal;
$bc-symbol-font-family:    'BronyCon Glyphs Regular';
$bc-symbol-font-weight:    normal;
