@font-face{
	font-family: 'Museo Slab';
	src: url('/fonts/museo/museoslab_700_webfont.eot');
	src: url('/fonts/museo/museoslab_700_webfont.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/museo/museoslab_700_webfont.woff') format('woff'),
	     url('/fonts/museo/museoslab_700_webfont.ttf') format('truetype'),
	     url('/fonts/museo/museoslab_700_webfont.svg#webfont') format('svg');
  font-weight: 700;
}
@font-face{
	font-family: 'Museo Slab';
	src: url('/fonts/museo/museoslab_900_webfont.eot');
	src: url('/fonts/museo/museoslab_900_webfont.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/museo/museoslab_900_webfont.woff') format('woff'),
	     url('/fonts/museo/museoslab_900_webfont.ttf') format('truetype'),
	     url('/fonts/museo/museoslab_900_webfont.svg#webfont') format('svg');
  font-weight: 900;
}
