// Navigation
#navigation {
  background: $primary;
  color: $white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);

  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 9900;

  a {
    color: $white;
    padding: 0 .5rem;
  }

  .site-title {
    // font-size: 26px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    margin-right: 1rem;

    &, &:visited {
      // color: $grey-dark;
    }
  }
  .site-nav {
    // float: right;
    line-height: 56px;

    .menu-icon {
      display: none;
    }

    .page-link {
      // color: $text-color;
      line-height: $base-line-height;
      font-size: 24px;

      // Gaps between nav items, but not on the first one
      &:not(:first-child) {
        margin-left: 20px;
      }
    }

    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: $background-color;
      border: 1px solid $grey-light;
      border-radius: 5px;
      text-align: right;
      z-index: 9999;
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 25px;
        > svg {
          width: 18px;
          height: 15px;
          path {
            fill: $grey-dark;
          }
        }
      }
      .trigger {
        clear: both;
        display: none;
      }
      &:hover .trigger {
        display: block;
        padding-bottom: 5px;
      }
      .page-link {
        display: block;
        padding: 5px 10px;
        color: $black;
      }
    }
  }
}

// Fancy nav styling
#navigation {
  transform: rotate(-3deg); // translateX(-16px);
  margin-top: -310px;
  margin-bottom: -70px;
  position: absolute;
  width: $content-width - ($spacing-unit*2);
  margin-left: -$spacing-unit - 4px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  // padding-top: 330px;
  padding: 330px ($spacing-unit + 4px) 0;
  @include media-query($on-palm) {
    transform: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    position: relative;
  }
}

// Sections adjust to navigation
.first-hill {
  padding-top: 130px;
}

// Page header
header {
  background-color: $primary;
  color: $white;
}

// Masthead
.masthead {
  padding: 120px 0;
}

// Link bar
.link-bar {
  a:not(.twitter-button) {
    margin-right: 10px;
    icon {
      margin-left: 5px;
    }
  }
  .twitter-button {
    margin-top: -2px;
  }
}

// Schedule
#schedule {
  .schedule-timeline {
    border-right: 16px solid $timeline-color;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 100;
    @include media-query($on-laptop) {
      background: lighten($timeline-color, 10%);
      color: white;
      font-weight: bold;
      margin-bottom: 1em;
      width: 100%;
    }
    @include media-query($on-palm) {
      // margin-bottom: 0;
      padding-left: 1em;
    }
  }
  .schedule-day h1 {
    border-bottom: 1px solid;
  }
  .schedule-details {
    padding-left: 1.5em;
    margin-bottom: 2em;
  }
  // Git inspired events
  .git-branch {
    border-left: 8px solid $timeline-color;
    margin-left: -.5em;
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      top: -15px;
      left: calc(-1em + -18px);
      width: calc(1em + 21px);
      height: 8px;
      background: $timeline-color;
      transform: rotate(45deg);
    }
    &:after {
      content: ' ';
      position: absolute;
      bottom: -15px;
      left: calc(-1em + -18px);
      width: calc(1em + 21px);
      height: 8px;
      background: $timeline-color;
      transform: rotate(-45deg);
    }
  }
  .git-fork {
    border-left: 8px solid $timeline-color;
    margin-left: -.5em;
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      top: -15px;
      left: calc(-1em + -18px);
      width: calc(1em + 21px);
      height: 8px;
      background: $timeline-color;
      transform: rotate(45deg);
    }
  }
  .git-pull {
    border-left: 8px solid $timeline-color;
    margin-left: -.5em;
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      bottom: -15px;
      left: calc(-1em + -18px);
      width: calc(1em + 21px);
      height: 8px;
      background: $timeline-color;
      transform: rotate(-45deg);
    }
  }
  h2.schedule-event-title {
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      top: -.25em;
      left: calc(-1.5em + -4px);
      background: white;
      border: 8px solid $timeline-color;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 200;
      @include media-query($on-laptop) {
        display: none;
      }
    }
  }
  h5 {
    border-bottom: solid 2px;
    margin: 0 0 2em 0;
  }
  .schedule-talk {
    position: relative;
    min-height: 100px;
    @include media-query($on-palm) {
      padding-left: 18px;
    }
    &:before {
      content: ' ';
      position: absolute;
      top: 28px;
      left: -4px;
      width: 18px;
      height: 18px;
      background: white;
      display: block;
      border-radius: 50%;
      border: 6px solid $timeline-color;
      @include media-query($on-palm) {
        top: 0px;
      }
    }
    .schedule-talk-avatar {
      padding-left: 2em;
      padding-right: 0;
      margin: 0;
      width: 120px;
      flex-basis: 120px;
      max-width: 120px;
      img {
        width: calc(120px - 2em);
        height: calc(120px - 2em);
        border-radius: 50%;
      }
      @include media-query($on-palm) {
        display: none;
      }
    }
    h3.schedule-talk-title {
      // position: relative;
      // margin-bottom: 0;
      font-family: $base-font-family;
      // display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      @include media-query($on-laptop) {
        text-align: left;
      }
    }
  }
}

.labels {
  @include media-query($on-palm) {
    text-align: center;
  }
}
.label {
  display: inline-block;
  background: $white;
  border: 1px solid $timeline-color;
  padding: 0;
  border-radius: 4px;
  padding-right: .35em;
  margin-right: .25em;
  icon, span {
    display: inline-block;
    background: $timeline-color;
    height: 1.68em;
    vertical-align: top;
    padding: .25em;
    color: $white;
    margin-right: .35em;
  }
}

// Footer
.site-footer {
  hr {
    border: 2px solid rgba(0,0,0,.25);
    margin: 1em auto;
    width: 50%;
  }
}
.center-footer {
  background: $black;
  color: $white;
  a {
    color: $white;
  }
  .button.back-to-top {
    margin-bottom: 2em;
  }
}

// 404
#four-oh-four, .four-oh-four-lookalike {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background: $secondary;
  color: white;

  // position: absolute;
  top: 0;
  left: 0;
  h1:first-of-type {
    margin-top: 1em;
  }
  a {
    color: white;
  }
}

// Join CTA page
#join {
  background-color: black;
  background-image: url(/cover.png);
  background-size: cover;
  weak {
    font-weight: normal;
    display: inline-block;
  }
  .alt {
    font-family: $base-font-family;
  }
}

// Social media button and links
// Brand colors: http://brandcolors.net/
$twitter: #55acee;
$facebook: #3b5998;
$youtube: #cd201f;
$deviantart: #05cc47;
$tumblr: #35465c;
.twitter-button {
  font-size: 13px;
  line-height: 26px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  -webkit-user-select: none;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff!important;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #0c7abf;
    text-decoration: none;
  }
  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
  }
  icon {
    margin: 0!important;
  }
}
.link-youtube {
  color: $youtube;
}
.link-twitter {
  color: $twitter;
}
.link-facebook {
  color: $facebook;
}
.link-deviantart {
  color: $deviantart;
}
.link-tumblr {
  color: $tumblr;
}
